<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
{% load static %}
<html>
    
<head>
    <title>My Awesome Login Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

</head>
<!--Coded with love by Mutiullah Samim-->


<body>
    <nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img  src="{% static 'img/biotis.jpg' %}" class="w3-round" alt=""> 
        </a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
    <div class="dropdown-menu">
    <a class="nav-link" href="#">{{ username }}
                <span class="sr-only">(current)</span>
              </a>

    </div>
    {% comment %} <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{ username }}
                <span class="sr-only">(current)</span>
              </a>
        </li>
        
      </ul>
    </div> {% endcomment %}
  </div>
</nav>


 



    <div class="d-flex flex-column">
        <div class="p-2 judul1">
            <h1>Edit Profile</h1>
        </div>   
    </div>




        <div class="col-md-12 pageeditprofile">
            <!-- <h4>Django CRUD (Create Read Update Delete) Example - Bootstrap Datatable</h4>  -->
        
            <form method="POST" class="post-form">
            {% csrf_token %}
                    
                        

                        <div class="container ">
                            <div class="picture-container">
                                <div class="picture">
                                    <img src="{% static 'person.svg' %}" class="picture-src" id="wizardPicturePreview" title="">
                                    <input type="file" id="wizard-picture" class="">
                                </div>
                                <h6 class="">Choose Picture</h6>
                        
                            </div>

                            <div class="container justify-content-center align-items-center tempattable">
                                <div class="table-responsive">
                                    <table class="table  table-hover">
                                                            <tr class="box">
                                                                <td class="text-muted">Nama Lengkap</td>
                                                                <td>:</td>
                                                                <td >{{ form.nama_lengkap }}</td>
                                                            </tr>
                                                            <tr class="box">
                                                                <td class="text-muted">Nomor HP</td>
                                                                <td>:</td>
                                                                <td >{{ form.no_hp }}</td>
                                                            </tr>
                                                            <tr class="box">
                                                                <td class="text-muted">Alamat</td>
                                                                <td>:</td>
                                                                <td >{{ form.alamat }}</td>
                                                            </tr>
                                                            <tr class="box">
                                                                <td class="text-muted">Jabatan</td>
                                                                <td>:</td>
                                                                <td > {{ form.jabatan }}</td>
                                                            </tr>

                                                            <tr class="box">
                                                                <td class="text-muted">Nama Atasan</td>
                                                                <td>:</td>
                                                                <td >{{ form.nama_atasan }}</td>
                                                            </tr>

                                    </table>
                                    <div class="d-flex justify-content-center mt-3 login_container">
                                    <button type="submit" class="btn btn-success mt-1">Submit</button>
                                </div>
                                </div>
                            </div>    
            </form>
        </div>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>

    <script type="text/javascript">

        var email = "{{email}}"

        var image = document.getElementById("wizardPicturePreview");

        console.log()

        $(document).ready(function(){
          // Prepare the preview for profile picture
            $("#wizard-picture").change(function(){
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                }
                console.log('reader is', reader)
                console.log('input.files[0]', input.files[0])
                reader.readAsDataURL(input.files[0]);
            }
        }

        var firebaseConfig = {
        apiKey: "AIzaSyBhOm2zX5FMqmcsouo3D4OiBDVPVoqYf7M",
        authDomain: "biotis-5bbc4.firebaseapp.com",
        databaseURL: "https://biotis-5bbc4.firebaseio.com",
        projectId: "biotis-5bbc4",
        storageBucket: "biotis-5bbc4.appspot.com",
        messagingSenderId: "427181721162",
        appId: "1:427181721162:web:1ee957725b13573ffb88b3",
        measurementId: "G-N273BFKCTX"
    };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        var storage = firebase.storage();
        var imgRef = storage.ref('users/'+email+'/profile.jpg')

        imgRef.getDownloadURL().then(function(url){
            image.src = url;
           
        })


    var filebut = document.getElementById('wizard-picture');

    filebut.addEventListener('change', function(e) {
        
        var file = e.target.files[0];
        console.log('file is', file)
        document.getElementById('wizardPicturePreview').src = file;
        var storageRef = firebase.storage().ref('users/' + email + '/profile.jpg');

        storageRef.put(file);
    });

    var storage = firebase.storage();
    var imgRef = storage.ref('users/'+email+'/profile.jpg')
    var imagesrc = "a";
    imgRef.getDownloadURL().then(function(url){
        imagesrc = url;
        
    })

    </script>
   
</body>


</html>