@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


html,body{
  font-family: 'Rubik', sans-serif;
  background:#fdfdfd;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}

.card{
    align-items: center;
}

.container{
    padding-top: 20px;
}

.pageeditprofile{
    font-family: 'Rubik', sans-serif;

}



.deskripsiprofile{
    padding-top: 50px;
}

.tempatbutton{
    padding-top: 50px;
}


::selection {
    color: white;
    background: #2AA153;
  }



#settingimg{
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;

}

#settingimg:hover{
    border-color: #2ca8ff;
}

/* navbar setting css  */
.sr-only{
    background:rgb(244, 244, 244) ;
}

.dropdown-menu{
    background:rgb(244, 244, 244) ;

}

.nav-link{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    background:rgb(244, 244, 244) ;
    color: rgb(242, 200, 79);
}
  
nav{
    background: rgb(244, 244, 244) ;
}


.w3-round{
    border-radius: 50%;
    max-width: 100px;
    height: auto;

    margin-left: 2em;

}

.picture-src{
    max-width: 50px;
}

.a:hover {
    color: rgb(244, 199, 72);
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(243, 201, 83);
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


/* deskripsi profil page*/
#judul{
font-family: Rubik;
font-style: normal;
font-weight: bold;




color: #000000;
}

/* deskripsi edit profile page*/

.box{
    background: #fdfdfd;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    box-shadow: none !important;
    outline: 0px !important;
}

.judul1{
    margin-top: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}


.tempattable{
    padding-top: 50px;
}

#about{
    margin-top: 10px;
}