@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


html,body{
  font-family: 'Rubik', sans-serif;
  background:#fdfdfd;
  height: 100%;
  width: 100%;
  
}

.pageeditprofile{
    font-family: 'Rubik', sans-serif;

}

.container {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.deskripsiprofile{
    padding-top: 50px;
}

.tempatbutton{
    padding-top: 50px;
}


::selection {
    color: white;
    background: #2AA153;
  }

nav {
    height: 130px;
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

#settingimg{
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;

}

#settingimg:hover{
    border-color: #2ca8ff;
}





/* deskripsi profil page*/
#judul{
font-family: Rubik;
font-style: normal;
font-weight: bold;




color: #000000;
}

/* deskripsi edit profile page*/

.box{
    background: #fdfdfd;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
    box-shadow: none !important;
    outline: 0px !important;
}

.judul1{
    margin-top: 50px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}


.tempattable{
    padding-top: 50px;
}