@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


html,body{
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
  background: rgba(241, 250, 245, 1);
}

.navbar{
    background: black;
}

::selection {
    color: white;
    background: #2AA153;
  }

a {color: #303030;}
a:hover {color: #303030; text-decoration: none;}



