html,body{
    font-family: 'Rubik', sans-serif;
    background:white;
    height: 100%;
    width: 100%;
  }


  .sr-only{
    background:rgb(244, 244, 244) ;
}

.dropdown-menu{
    background:rgb(244, 244, 244) ;

}

.nav-link{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    background:rgb(244, 244, 244) ;
    color: rgb(242, 200, 79);
}
  
nav{
    background: rgb(244, 244, 244) ;
}

.w3-round{
    border-radius: 50%;
    max-width: 100px;
    height: auto;

    margin-left: 2em;

}

.a:hover {
    color: rgb(244, 199, 72);
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(243, 201, 83);
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }


/* deskripsi profil page*/
#judul{
font-family: Rubik;
font-style: normal;
font-weight: bold;




color: #000000;
}