@import "base.css";

@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Noto+Sans&display=swap');

html,body{
    font-family: 'Rubik', sans-serif;
    height:100%;
    width: 100%;
}

.list_title{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
}

.buatlaporan{
    background: rgba(241, 250, 245, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

textarea{
    align-items: center;
}

.formfield{
    display: block;
}

.form-control{
    text-align:center;
    width:100%;
    
}
  
.form-control input{
    display:block;
    margin:20px auto;
    text-align:center;
    font-weight:bold;
    transition:all 300ms ease-in-out;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}
  
.form-control input[type="text"],.form-control input[type="password"]{
    line-height:50px;
    padding:0 10px;
    border-radius:30px;
    border:0;
    width:50%;
    background:rgba(255,255,255,0.9);
}

.form-control Form{
    color: white;
    height: 100%;
    letter-spacing: 5px;
}

.header{
    height: 100%;
}
  
.form-control input[type="text"]:focus,.form-control input[type="password"]:focus{
    width:80%;
    background:rgba(255,255,255,1);
}
  
.form-control input[type="submit"]{
    height:40px;
    border:0;
    background:#ee5f4a;
    color:#fff;
    box-shadow:0px 0px 2px rgba(0,0,0,0.5);
    width:30%;
    border-radius:5px;
    opacity:0.8;
    cursor:pointer;
}
  

.form-control input[type="submit"]:hover{
    opacity:1;
}


label{
    justify-content: center;
    display: flex;
}

.wrapper{
    text-align: center;
}

.buttonlaporan {
    color: white;
    background-color: #00AD33;
    transition: 50ms;
    border-radius: 10px;
    padding: 9px;
    border: none;
}
  
.buttonlaporan:hover {
background-color: #00AD33;
color: black;
}

#input_cam{
    color: white;
    background-color: #00AD33;
    transition: 50ms;
    border-radius: 10px;
    padding: 9px;
    border: none;
}

#input_cam:hover {
    background-color: #00AD33;
    color: black;
}

.canvas-image {
    margin-bottom: 30px !important;
}


@media (max-width : 400px){
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .formfield{
        width: 80%;
      
        text-align: center;
    }
    .canvas-image{
        width: 100%;
    }
}

@media (max-width : 500px){
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .formfield{
        width: 100%;
      
        text-align: center;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
}

@media (min-width: 34em) {
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
}

@media (min-width: 48em) {
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    }
}

@media (min-width: 62em) {
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
}

@media (min-width: 75em) {
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
    }
}


@media (max-width:550px ) {
    .video-wrap{
        width: 30%;
    }
    #video{
        width: 300%;
        height: 200%;
        position: relative;
    }
    .canvas-image{
        width: 100%;
    }
    .list_title{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    }
}