{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}


{% block content %}
<div class="container justify-content-center align-items-center">
        <h1 class="list_title">Buat Laporan</h1>
        <div class="row justify-content-center">
            <div class="buatLaporan">      
                <form  method="POST" action="">
                {% csrf_token %}
                    <div class="buatLaporanForm">{{ form.as_p }}</div>
                    <br>
                    <input type="submit" value="Create" name="tombol" class="buttonlaporan">
                </form>
            </div>
        </div>
        <br>
        <br>

</div>    
{% endblock content %}