{% extends 'base.html' %}
{% load static %}




{% block title %}
{% endblock title %}


{% block content %}

<link rel="stylesheet" type=text/css href="{% static 'css/dashboard.css' %}"/>  

  <div class="main dashboardutama">
    
  <div class="container row1">

    <div class="p-2 judul1">
      <h1>Dashboard</h1>
    </div>
    <div class="p-2 tanggal1" > Selasa,25 agustus 2020</div>
    <div class="p-2 ">
      <div class="row rowCard">
        <div class="card card1">
              <div class="col-sm ">
                  <div class="card-body " >
                      <h5 class="card-title">20 orang </h5>
                      <h6 class="card-subtitle mb-2 text-muted karyawan">Karyawan yang belum lapor </h6>         
                      <a href="#" class="card-link">Lihat selengkapnya >>  </a>
                    </div>
              </div>
        </div>
        <div class="card card1">
              <div class="col-sm ">
                  <div class="card-body ">
                      <h5 class="card-title">49 </h5>
                      <h6 class="card-subtitle mb-2 text-muted karyawan">Laporan Menunggu Review </h6>                
                      <a href="#" class="card-link">Lihat selengkapnya >>  </a>
                    </div>
              </div>
        </div>
      </div>              
    </div>

    <div class="p-2 ">

        <div class="input-group search "  style="width: 50%;">
          <input type="text" class="form-control" placeholder="Search this dashboard">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" style="background: #00AD33;" >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

    </div>

    <div class="p-2 tanggal2">Urutkan Berdasarkan: </div>


    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <a class="btn btn-primary colorbutton" href="#" role="button">Tanggal Terbaru</a>
      </div>
      <div class="p-2 bd-highlight ">
        <a class="btn btn-primary colorbutton" href="#" role="button">Tanggal Tertentu   >></a>
      </div>
      <div class="p-2 bd-highlight ">
        <a class="btn btn-primary colorbutton" href="#" role="button">Karyawan    >></a>
      </div>
    </div>
  </div>
  
<!--Table-->
<table class="table table-hover table-fixed">

  <!--Table head-->
  <thead>
    <tr>
      <th>Foto</th>
      <th>Tanggal</th>
      <th>Kondisi Umum</th>
      <th>Aktivitas Kompetitor</th>
      <th>Laporan Kegiatan</th>
      <th>Fokus Produk </th>
      <th>Lain-lain</th>
      <th>Penjelasan</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>

    {% for laporan in data %}
    <tr>
      <th scope="row"><img class='foto_thumbnail' src={% static laporan.foto %}/></th>
      <td>{{laporan.waktu}}</td>
      <td>{{laporan.kondisi}}</td>
      <td>{{laporan.kompetitor}}</td>
      <td>{{laporan.laporan}}</td>
      <td>{{laporan.fokus_produk}}</td>
      <td>{{laporan.lain_lain}}</td>
      <td ><a href="{% url 'dashboard:detailLaporan' id=laporan.id_file %}" class="card-link">Lihat Lebih >>  </a></td>
    </tr>
    {% endfor %}
  </tbody>
  <!--Table body-->

</table>
<!--Table-->




<div class="row justify-content-center align-items-center">    
    <br>
     <br>
    <a href="/dashboard/buatLaporan" class="buttonlaporan">Buat Laporan</a>
    <br>
</div>   


</div>
{% endblock content %}