{% extends 'base.html' %}
{% load static %}




{% block title %}
{% endblock title %}


{% block content %}

<link rel="stylesheet" type=text/css href="{% static 'css/dashboard.css' %}"/>  

  <div class="main dashboardutama">
    
  <div class="container row1">

    <div class="p-2 judul1">
      <p class="judul1">Dashboard</p>
    </div>
    <div class="p-2 tanggal1" > Selasa,25 agustus 2020</div>
    <div class="p-2 ">
      <div class="row rowCard">
        <div class="card card1">
              <div class="col-sm card1space ">
                  <div class="card-body " >
                      <h5 class="card-title">20 orang  </h5>
                      <h6 class="card-subtitle mb-2 text-muted karyawan">Karyawan yang belum lapor </h6>         
                      <a href="#" class="card-link">Lihat selengkapnya >>  </a>
                    </div>
              </div>
        </div>
        <form action="{% url 'dashboard:dashboard'%}" method="post">
        {% csrf_token %}
        <div class="card card2">
              <div class="col-sm card1space ">
                  <div class="card-body ">
                      <h5 class="card-title">49 </h5>
                      <h6 class="card-subtitle mb-2 text-muted karyawan">Laporan Menunggu Review </h6>                
                      <button type="submit" class="card-link" style="background-color: white; border: none; padding: 0;">Lihat selengkapnya >></button>
                    </div>
              </div>
        </div>
        </form>
      </div>              
    </div>

    <div class="p-2 ">

        <div class="input-group search "  style="width: 50%;">
          <input type="text" class="form-control" placeholder="Search this dashboard">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button" style="background: #00AD33;" >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

    </div>

    <div class="p-2 tanggal2">Urutkan Berdasarkan: </div>


    <div class="d-flex flex-row bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        
        <a class="btn btn-primary colorbutton" href="#" role="button">
         
          <i style="font-size:15px" class="fa" id="ikon1">&#xf017;</i>
          Tanggal Terbaru</a>
      </div>
      <div class="p-2 bd-highlight ">
        <a class="btn btn-primary colorbutton" href="#" role="button">
          <i style="font-size:15px" class="fa" id="ikon1" >&#xf073;</i>
          Tanggal Tertentu   >></a>
      </div>
      <div class="p-2 bd-highlight ">
        <a class="btn btn-primary colorbutton" href="#" role="button">
          <i style='font-size:15px' class='fas' id="karyawan">&#xf406;</i>
          Karyawan    >></a>
      </div>
    </div>
  </div>
  
<!--Table-->
<table class="table table-hover table-fixed" id="table-dashboard" cellspacing="0" cellpadding="0">


  <!--Table head-->
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nama Karyawan</th>
      <th>Tanggal</th>
      <th>Laporan Kegiatan</th>
      <th>Kondisi Umum</th>
      <th>Aktivitas Kompetitor</th>
      <th>Fokus Produk </th>
      <th>Lain-lain</th>
      <th>Penjelasan</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>

    {% for laporan in data %}
    <tr>
      <th scope="row"><img class='foto_thumbnail' src={% static laporan.item.path_foto %}/></th>
      <td class="col_5">{{laporan.item.email}}</td>
      <td>{{laporan.date}}<br>{{laporan.time}}</td>
      <td class="col_0" >{{laporan.item.laporan}}</td>
      <td class="col_1">{{laporan.item.kondisi}}</td>
      <td class="col_2">{{laporan.item.kompetitor}}</td>
      <td class="col_3">{{laporan.item.fokus_produk}}</td>
      <td class="col_4">{{laporan.item.other}}</td>
      <td ><a href="{% url 'dashboard:detailLaporan' id=laporan.item.id_file %}" class="card-link">Lihat Lebih >>  </a></td>
    </tr>
    {% endfor %}
  </tbody>
  <!--Table body-->

</table>
<!--Table-->




<div class="row justify-content-center align-items-center">    
    <br>
     <br>
    <a href="/dashboard/buatLaporan" class="buttonlaporan">Buat Laporan</a>
    <br>
</div>   


</div>
{% endblock content %}